
<div id="comingsoon" class="text-center" style="position: absolute; z-index: index 2;position: relative;padding-top: 0px;">
    <h1 class="commingsoonTitle" >Bientôt...</h1>
    <p class="commingsoonText"><strong>De nouveaux horizons scientifiques pour résoudre vos problèmes de
        cohabitation homme-animal.<br>
    Cliquez ci-dessous pour être notifié de sa publication officielle.</strong></p>
        <button type="button"  [routerLink]="['/contactbis']"  class="btn-comingsoon">Notifiez-Moi</button>

</div>
