
<div id="comingsoonimg" class="text-center container-fluid"  [ngStyle]="styleObject()" style=" position: absolute;z-index: index 1;">

</div>

<div id="comingsoon" class="text-center container-fluid" style="position: absolute; z-index: index 2;">
    <h1 class="commingsoonTitle" >Bientot...</h1>
    <p class="commingsoonText">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."<br>
        "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
</div>
