
<div class=" d-flex justify-content-center"  >
    <div style="background-color: rgba(255,255, 255,  0.4)   !important;padding:10px 10px 10px 10px;width:80%;border-radius: 10px;">
        <div >
          <h1 class="contact-title1">EthoProtectio</h1>
          <h2 class="contact-title2">L'étude du comportement pour mieux protéger</h2>
          <p class="contact-title3">Intervient sur toute la France et pays Francophones</p>
          <p class="contact-title3">Tél : +33637067201</p>
          <p class="contact-title-mail">Contact.ethoprotectio@gmail.com</p>
          <p style="text-align:right;"  class="contact-text contact-title3">* Informations obligatoires</p>
            <form ngNativeValidate [formGroup]="jobForm" (ngSubmit)="save()">
              <div class="row justify-content-center align-items-center h-100">
                <div class="col col-8">

                <div class="mb-3">
                    <input type="text" class="form-control contact-box" id="nomPrenom" name="nomPrenom" formControlName="firstName" placeholder="Nom et Prénom *" required/>
                    
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control contact-box" id="societe" name="societe" formControlName="societe" placeholder="Société *" required>
                  
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control contact-box"  id="email"  name="email" formControlName="email" placeholder="Email *" required>
                  
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control contact-box " id="numeroTel"  name="numeroTel" formControlName="phone" placeholder="Téléphone">
                    
                </div>
                </div>
                </div>
                <div class="mb-3">
                  <textarea type="text" class="form-control contact-box" id="numeroTel"  name="message" formControlName="message" style="height:200px" placeholder="Message..." >
                    </textarea> 
                  
              </div>
              

                <div class="container">
                    <div class="col-md-12 text-center">
                            <button type="submit" class="btn-contact">Envoyer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
