<div class=" d-flex justify-content-center"   >
    <div class="contact-fond-gris"style="">
        <div >
            <p style="font-size:30px;font-weight: bold;">Mentions légales</p>
            <p style="font-size:20px">Responsable de la publication : Couveuse de TEST - N° de téléphone : 05 61 61 45 20<br>
                EthoProtectio est hébergé juridiquement par la couveuse d'entreprise ALTITUDE 34<br>
                <br>
                <strong style="text-decoration:underline">Responsable de la rédaction :</strong><br>
                Claire Pereira<br>
                contact@ethoprotectio.fr<br>
                06 37 06 72 01<br>
                <br>
                Couveuse Altitude,<br>
                3 chemin du Pigeonnier de la Cépière<br>
                31100 TOULOUSE FRANCE<br>
                N° SIRET : 424845949<br>
                <br>
                <strong style="text-decoration:underline">Hébergeur :</strong><br>
                OVHv 2 rue Kellermann<br>
                59100 Roubaix</p>
    </div>
    </div>
