<!-- The routed views render in the <router-outlet>-->
<div class="text-center">
  <nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light  sticky-top nav-style">
    <div class="container-fluid">
      <a [routerLink]="['/']"><img src="./assets/logo.svg" alt="My Happy SVG" height="120" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" (click)="isMenuCollapsed = !isMenuCollapsed" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link nav-bar-menu-text" aria-current="page" [routerLink]="['/']"
              [ngClass]="{'title_underline': getCurrentRoute('/')}" (click)="isMenuCollapsed = true">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-bar-menu-text" [routerLink]="['/prestations']"
              >Prestations</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-bar-menu-text" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Nous connaitre
            </a>
            <ul class="dropdown-menu  nav-bar-menu-text " aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item nav-bar-menu-text" [routerLink]="['/connaitre']">Qui suis-je ?</a></li>
              <li><a class="dropdown-item nav-bar-menu-text" [routerLink]="['/connaitre']">EthoProtectio</a></li>
              <li><a class="dropdown-item nav-bar-menu-text" [routerLink]="['/connaitre']">L'éthologie</a></li>
            </ul>
          </li>
          
          <li class="nav-item">
            <a class="nav-link nav-bar-menu-text" [routerLink]="['/contact']"
              [ngClass]="{'title_underline': getCurrentRoute('/contact')}" (click)="isMenuCollapsed = true">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <div class="row footer-div" style="width: 100%;padding: 0%;margin:0%;position:absolute">
    <div class="col-4" >
      <div class=" d-flex align-items-center justify-content-center" style="height:100%">

      <img src="./assets/logo.svg"
        class="footer-logo" alt="Logo" />
      </div>
    </div>
    <div class="col-4" style="text-align:center">
      <p class="footer-titres">UN PROBLEME, UN PROJET ?</p>
      <hr class="accueil-hr">

      <button type="submit" class="btn-contact bouton-footer">CONTACTEZ-NOUS</button>

    </div>
    <div class="col-4" style="text-align:center">
      <div class=" d-flex align-items-center justify-content-center" style="height:100%">
      <p class="text-footer">Adresse : XXXXXXXXXXXXX
      <br>Tél : +33 (0)637067201
      <br>E-mail : contact@ethoprotectio.fr</p>
      </div>
    </div>
    <p class="text-footer" style="text-align:center">©EthoProtectio, Tous droits réservés – Mentions Légales</p>
  </div>
</div>