<p style="padding-top:150px"></p>

<div>
    <div style="padding-bottom:200px">
        <div class="row d-flex justify-content-center" style="width: 100%;padding: 0%;margin:0%;">
            <!--Grid column-->
            <div class="col-md-6">
                <div class="row" style="background:#8497B0;width: 100%;padding: 0%;margin:0%;">
                    <div class="col-lg-6" style=" min-height:300px;
            
                                background-image: url('./assets/parallax2.jpg');
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: 50% 50%;">
        
                    </div>
                    <div class="col-lg-6 text-center">
                        <p class="accueil-titres" id="faison">Un accompagnement scientifique</p>
                        <hr class="accueil-hr">
                        <p>Exploitant d’aéroport, agriculteur, mairie, entreprise d’exploitation ferroviaire et
                            routière… Nous sommes tous concernés par la cohabitation homme-animal,
                            avec une demande croissante de la prise en compte de la biodiversité.
                            EthoProtectio vous accompagne pour étudier scientifiquement les solutions de
                            cohabitation, et rassembler les acteurs afin d’agir de manière collaborative.</p>
                    </div>
                </div>
            </div>
            <!--Grid column-->
        </div>


        


    </div>

    <div class="row d-flex justify-content-center" style="width: 100%;padding: 0%;margin:0%;">
        <!--Grid column-->
        <div class="col-md-8">
    <div style="padding-bottom: 100px;">
        <div class="row " style="background:#8497B0;width: 100%;padding: 0%;margin:0%;">
            <div class="col-lg-6 text-center">
                <p class="accueil-titres" id="faison">Expertise</p>
                <p>Nous mettons en place une étude expérimentale sur place pour comprendre
                    comment influencer les comportements des animaux qui vous posent des
                    problèmes. Des pistes d’amélioration des moyens de cohabitation vous seront
                    proposés à termes. Cela comprend une première analyse de la situation avec
                    vous, et la mise en place d’un protocole scientifique sur plusieurs jours.
                </p>
            </div>
            <div class="col-lg-6" style=" min-height:300px;
    
    background-image: url('./assets/parallax2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;">

            </div>
        </div>
        <div class="row " style="background:#8497B0;width: 100%;padding: 0%;margin:0%;">
            <div class="col-lg-6 text-center">
                <p class="accueil-titres" id="faison">Formation </p>
                <p>Ciblées sur l’étude du comportement animal et ses applications dans le monde
                    professionnel. La formation peut être composée d’une partie pratique selon
                    vos besoins (tests comportementaux face à des moyens d’effarouchement,
                    observations). Elle est adressée à tous les acteurs concernés de près ou de loin
                    par la problématique de la cohabitation homme-animal</p>
            </div>
            <div class="col-lg-6" style=" min-height:300px;
    
    background-image: url('./assets/parallax2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;">
            </div>
        </div>
        <div class="row " style="background:#8497B0;width: 100%;padding: 0%;margin:0%;">
            <div class="col-lg-6 text-center">
                <p class="accueil-titres" id="faison">Médiation et Sensibilisation</p>
                <p>EthoProtectio propose d’étendre votre influence sur les parties prenantes de
                    votre activité, en réalisant des rencontres, des enquêtes et des plaquettes
                    d’informations.</p>
            </div>
            <div class="col-lg-6" style=" min-height:300px;
    
        background-image: url('./assets/parallax2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;">

            </div>
        </div>
        <div class="row " style="background:#8497B0;width: 100%;padding: 0%;margin:0%;">
            <div class="col-lg-6 text-center">
                <p class="accueil-titres" id="faison">Recherche et développement </p>
                <p>Une veille bibliographique est perpétuellement réalisée au sein de
                    EthoProtectio. Nous vous proposons des solutions innovantes à tester, mais
                    aussi la possibilité d’en développer avec l’appui de laboratoires de recherches
                    pluridisciplinaires.</p>
            </div>
            <div class="col-lg-6" style=" min-height:300px;
    
    background-image: url('./assets/parallax2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;">

            </div>
        </div>
    </div>
    </div>
    </div>
</div>