<p style="padding-top:100px"></p>

<div id="quijesuis">
    <p class="accueil-titres" id="faison">QUI SUIS-JE ?</p>
    <hr class="accueil-hr">

    <div class="col-md-8 offset-md-2">
        <div class="row border-marine margin-bottom" style="padding: 0%;margin:0%;">
            <div class="col-lg-3"  >
                   <img src="./assets/claire.png" alt="My Happy SVG" style=width:100% />  </div>
            <div class="col-lg-9 text-center">
                <p class="card-text">Claire Pereira, Ethologue et
                    fondatrice de EthoProtectio
                    L’éthologue mène des projets
                    de recherche pour comprendre
                    les comportements communs
                    d’une espèce animale dans son
                    milieu naturel grâce à des
                    protocoles d’observations précis
                    pour pouvoir quantifier ces
                    comportements en données
                    statistiques. Appliqué aux
                    problèmes de cohabitation
                    homme-animal, comprendre les
                    comportements spécifiques des
                    espèces permet de mieux les
                    protéger et de s’en protéger.
                    Profil scientifique complet alliant la biologie, l’écologie et l’éthologie : ce que je
                    comprends, via les projets et études que j’ai pu réaliser.
                    Stage au STAC, et Agent SPPA à l’aéroport de Bâle-Mulhouse. Spécialité
                    aéroportuaire mais lien avec tous les autres domaines, touché du bout des
                    doigts (routier, ferroviaire, éolien) relié par l’importance du sujet de la
                    biodiversité. Domaine de la cohabitation dans l’agriculture très documenté,
                    tient à jour une large bibliographie scientifique. Informations et vie au quotidien
                    dans nos villes, rendue compte que la cohabitation est présente partout.</p>
            </div>

        </div>
    </div>
   
           
            
    

</div>


<div id="ethoprotectio">
    <p class="accueil-titres" id="faison">EthoProtectio</p>
    <hr class="accueil-hr">
   
            <img src="./assets/logo.svg" alt="My Happy SVG" height="120" />
            <p class="card-text accueil-textes" >Claire Pereira, Ethologue et
                fondatrice de EthoProtectio
                L’éthologue mène des projets
                de recherche pour comprendre
                les comportements communs
                d’une espèce animale dans son
                milieu naturel grâce à des
                protocoles d’observations précis
                pour pouvoir quantifier ces
                comportements en données
                statistiques. Appliqué aux
                problèmes de cohabitation
                homme-animal, comprendre les
                comportements spécifiques des
                espèces permet de mieux les
                protéger et de s’en protéger.
                Profil scientifique complet alliant la biologie, l’écologie et l’éthologie : ce que je
                comprends, via les projets et études que j’ai pu réaliser.
                Stage au STAC, et Agent SPPA à l’aéroport de Bâle-Mulhouse. Spécialité
                aéroportuaire mais lien avec tous les autres domaines, touché du bout des
                doigts (routier, ferroviaire, éolien) relié par l’importance du sujet de la
                biodiversité. Domaine de la cohabitation dans l’agriculture très documenté,
                tient à jour une large bibliographie scientifique. Informations et vie au quotidien
                dans nos villes, rendue compte que la cohabitation est présente partout.</p>
     
</div>


<div id="ethologie">
    <p class="accueil-titres" id="faison">L'éthologie</p>
    <hr class="accueil-hr">
   
            <p class="card-text accueil-textes">Claire Pereira, Ethologue et
                fondatrice de EthoProtectio
                L’éthologue mène des projets
                de recherche pour comprendre
                les comportements communs
                d’une espèce animale dans son
                milieu naturel grâce à des
                protocoles d’observations précis
                pour pouvoir quantifier ces
                comportements en données
                statistiques. Appliqué aux
                problèmes de cohabitation
                homme-animal, comprendre les
                comportements spécifiques des
                espèces permet de mieux les
                protéger et de s’en protéger.
                Profil scientifique complet alliant la biologie, l’écologie et l’éthologie : ce que je
                comprends, via les projets et études que j’ai pu réaliser.
                Stage au STAC, et Agent SPPA à l’aéroport de Bâle-Mulhouse. Spécialité
                aéroportuaire mais lien avec tous les autres domaines, touché du bout des
                doigts (routier, ferroviaire, éolien) relié par l’importance du sujet de la
                biodiversité. Domaine de la cohabitation dans l’agriculture très documenté,
                tient à jour une large bibliographie scientifique. Informations et vie au quotidien
                dans nos villes, rendue compte que la cohabitation est présente partout.</p>
      
</div>