<p id="quijesuis" style="padding-top:100px"></p>

<div>
    <p class="accueil-titres" id="faison">Claire Pereira<br>

        Ethologue et Fondatrice de EthoProtectio</p>
    <hr class="accueil-hr">

    <div class="col-md-8 offset-md-2" style="padding-bottom:100px">
        <div class="row border-marine margin-bottom" style="padding: 0%;margin:0%;">
            <div class="col-lg-4">
                <img src="./assets/claire.png" alt="My Happy SVG" width="100%" />
            </div>
            <div class="col-lg-8 text-center">
                <p class="card-text" style="text-justify: inter-word;text-align:justify">Mon profil scientifique complet
                    alliant la biologie, l’écologie et
                    l’éthologie me permets de développer une approche systémique dans
                    mes projets. La volonté de m’impliquer pour la cohabitation homme
                    animal s’est construite au fil de nombreuses problématiques rencontrées
                    : l’exploitation forestière en Finlande, les conflits d’usages en réserve
                    naturelle et milieu agropastoral, la protection des troupeaux contre la
                    prédation, et la faune sauvage sur les aéroports. <br><br>
                    Je peux démontrer une spécialité dans le domaine aéroportuaire grâce à
                    mon expérience au Service Technique de l’Aviation civile (STAC) en tant
                    que chargé d’études effarouchements acoustiques, et un poste d’agent de

                    service de prévention du risque animalier (SPRA) sur l’aéroport de Bâle-
                    Mulhouse.<br><br>

                    Pour autant, les engagements biodiversité sont au cœur de la
                    responsabilité sociétale de toutes les entreprises, et sont observés de plus
                    en plus attentivement par leurs parties prenantes.<br><br></p>
            </div>
            <p style="text-align:left">Mes nombreuses recherches sur le sujet me
                permettent d’appréhender de près de nombreux autres domaines d’activité.
                Quelques exemples ...<br><br>
                • Une majorité d’articles scientifiques traitent de méthodes de cohabitation innovantes pour les
                cultures afin
                d’éviter les ravages par les oiseaux.<br><br>
                • Au même titre que les aéroports, les parcs éoliens, réseaux routiers et ferroviaires se doivent
                d’innover pour
                éviter les collisions avec les animaux.<br><br>
                • Beaucoup de structures sont confrontées à des problèmes de propreté, voire de sonorité pour les
                villes, ce qui
                nécessite la sensibilisation de ses habitants.<br><br>
                Je souhaite adapter mes compétences en éthologie dans tous vos domaines, afin de protéger les
                humains et les animaux
                en apportant la méthodologie scientifique et le partage de l’information dont vous avez besoin.</p>

        </div>
    </div>





</div>


<div id="ethoprotectio">
    <img src="./assets/logo.svg" alt="My Happy SVG" height="150" />

    <p class="accueil-titres" id="faison">EthoProtectio</p>
    <hr class="accueil-hr">

    <p class="card-text accueil-textes" style="text-align: justify;">Nous souhaitons donner les outils pour comprendre,
        innover, et améliorer ensemble : approche collaborative par la
        recherche, l’échange d’informations scientifiques, et par l’étude complémentaire des situations avec des
        écologues et
        biologistes. Une démarche individuelle, afin de trouver les solutions spécifiques à chaque problème de
        cohabitation.</p>

    <p class="card-text accueil-textes" style="text-align: center;color:red">
        QUESTION - Les pigeons se multiplient à une certaine période de l’année, à cause de l’abondance de nourriture
        fournie
        par les villes. Mais pourquoi certains groupes persistent-il malgré l’installation de nuisance sonore ?</p>

    <p class="card-text accueil-textes" style="text-align: center;font-weight: bold;">EthoProtectio est là pour vous
        répondre.</p>

    <p class="card-text accueil-textes" style="text-align: justify;"><strong>La solution avec l’approche Ethologique
            –</strong> L’Ethologie va permettre de comprendre les comportements afin d’adapter au
        mieux le moyen de cohabitation dans le respect de l’animal. Il est possible d’associer un comportement général,
        celui qui
        est le plus probable à une espèce, mais chaque méthode va affecter différemment chaque groupe d’animaux. Prit
        individuellement, le comportement de ces groupes va dépendre d’un nombre de facteur important qui va pouvoir
        être
        étudié plus précisément en éthologie. Il faut réaliser que chaque animal a sa propre vision, et conçoit son
        environnement
        selon leurs propres capacités et expériences. Il faut savoir s’adapter précisément à chacun en se détachant de
        notre
        propre vision d’humain.
        Additionné aux informations écologiques, l’éthologie va ainsi permettre de caractériser spécifiquement les
        comportements face aux moyens de cohabitation afin de les anticiper, selon chaque contexte environnemental. Nous
        partons d’une généralité, pour arriver à une explication spécifique selon un contexte précis.</p>

</div>


<div id="ethologie">
    <p class="accueil-titres" id="faison">Pour aller plus loin...
        Qu’est ce que l’Ethologie ?</p>
    <hr class="accueil-hr">
    <div class="row" style="padding: 0%;margin:0%;">
        <div class="col-lg-9">
            <p class="card-text accueil-textes" style="text-align: justify;">L’éthologue mène des projets de recherche
                pour comprendre les comportements
                communs d’une espèce animale dans son milieu naturel grâce à des protocoles
                d’observations précis. Il quantifie ces comportements en données statistiques afin
                de les expliquer objectivement. Il va pouvoir agir sur de nombreux sujet comme le
                bien-être animal, la conservation des espèces, les méthodes d’apprentissage, la
                productivité des élevages, la compréhension des phénomènes sociaux humains...
                L’éthologie est connue pour avoir joué en grand rôle dans les avancées sur la
                reconnaissance de l’intelligence animale : L’éthologue Jane Goodall a été la femme
                précurseur de la découverte d’une forme d’apprentissage social chez les
                chimpanzés. Ci-contre, un chimpanzé utilisant un outil longtemps définit comme
                propre à l’humain (Photo). Cette capacité est maintenant aussi connue chez
                quelques corvidés (Photo).<br><br>
                Appliqué aux problèmes de cohabitation homme-animal, comprendre les
                comportements spécifiques des espèces permet de mieux les protéger et de s’en
                protéger.</p>
        </div>
        <div class="col-lg-2">
            <div style="padding-bottom:20px">
            <img src="./assets/parallax1.jpg" alt="My Happy SVG" height="200" />
        </div>
        <div style="padding-bottom:20px">
            <img src="./assets/parallax2.jpg" alt="My Happy SVG" height="200" />
        </div>
        </div>
        <div class="col-lg-1"></div>

    </div>